{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .simple-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .simple-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

<script>
    setTimeout(function(){
        $("#tmp-msg").slideUp();
    }, 3000);
</script>

<div class="simple-wrapper">
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger"> 
            {{ message }}
        </div>
    {% endfor %}
    
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" id="tmp-msg"> 
            ✅ User <strong>{{ message }}</strong> successfully created!
        </div>
    {% endfor %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    {% if not app.user %}
        <h1>Login</h1>
        <form action="{{ path('security_login') }}" method="post">
            <div class="form-group">            
                <input placeholder="Email address" required type="text"
                    class="form-control" name="_username">
            </div>

            <div class="form-group">            
                <input placeholder="Password" required type="password"
                    class="form-control" name="_password">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Login !</button>
            </div>
        </form>
    {% else %}
        <h1>Welcome, {{ app.user.username }}</h1>
    {% endif %}
</div>

{% endblock %}