{% extends 'base.html.twig' %}

{% block title %}Photo Gallery admin{% endblock %}

{% block body %}
<script>
    setTimeout(function(){
        $("#tmp-msg").slideUp();
    }, 3000); 
</script>

<div class="simple-wrapper">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" id="tmp-msg"> 
            ✅ Tag <strong>{{ message }}</strong> successfully created!
        </div>
    {% endfor %}

    <h1>Hello, {{ app.user.username }} ! </h1>
    <p>You're the boss in this place.</p>
    <hr>
    <h4>Existing tags</h4>
    <p>
        {% for tag in tags %}
            #{{ tag.name }}&nbsp;
        {% endfor %}
    </p>

    <hr>
    <h4>Creating a new tag</h4>
    {{ form_start(formTag) }}        
        {{ form_row(formTag.name,
            {'attr': {'placeholder': 'New tag name'}}
        )}}
        <button type="submit" class="btn btn-success">Create tag</button>
        {{ form_row(formTag._token) }}
    {{ form_end(formTag) }}
</div>
{% endblock %}
