{% extends 'base.html.twig' %}

{% form_theme formPicture 'bootstrap_4_layout.html.twig' %}

{% block title %}Add a picture{% endblock %}

{% block body %}
    {% if error is defined %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <h1>Adding a picture</h1>

    {{ form_start(formPicture) }}
    
        {{ form_row(
            formPicture.name,
            {'attr': {'placeholder': 'Picture name'}}
        )}}
        
        {{ form_row(formPicture.tag) }}

        {{ form_row(
            formPicture.pictureFilename
        )}}

        {{ form_row(
            formPicture.description,
            {'attr': {'placeholder': 'Picture description (can be empty)'}}
        )}}
        <hr>
        
        {{ form_row(formPicture._token) }}
        <button type="submit" class="btn btn-success">Upload</button

    {{ form_end(formPicture) }}

{% endblock %}