{% extends 'base.html.twig' %}

{% block body %}

    <div>
        {% if error is defined %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <h2>{{ picture.name }}</h2>
        <div class="metadata">
            <p>Added {{ picture.addedAt | date('y/m/d at H:i') }}</p>
            <p>Tags: #{{ picture.tag.name }}</p>
        </div>
        <div class="content">
            <img src="{{ '/uploads/pictures/' ~ picture.pictureFilename }}" alt="{{ picture.name }}">
        </div>

        <a href="{{ path('photos_del', {'slugName' : picture.slugName}) }}" class="btn btn-danger"
            onclick="return confirm('Are you sure you want to delete this item?')">
        Delete</a>
    </div>
    <hr>
    <section id="comments">
        <h2>Comments</h2>
        {% for comment in picture.comments %}

            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        {{ comment.author }}
                        <small>(Created the {{ comment.createdAt | date('y/m/d at H:i') }})
                        </small>      
                    </div>
                    <div class="col-9">
                        {{ comment.content }}
                    </div>
                </div>
            </div>
            <hr>

        {% endfor %}
    </section>

{% endblock %}